
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.errored.tfstate
terraform.tfstate.backup

lambda.zip
lambda_build/

Backend/node_modules/
Backend/package-lock.json
npm-debug.log

.DS_Store
Thumbs.db
